In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# read from csv file

df1 = pd.read_csv('ep1.csv')
df1.head()

# read from xml file

df2 = pd.read_xml('ep1.xml')
df2.head()

,id,depart,departLane,departPos,departSpeed,departDelay,arrival,arrivalLane,arrivalPos,arrivalSpeed,...,routeLength,waitingTime,waitingCount,stopTime,timeLoss,rerouteNo,devices,vType,speedFactor,vaporized
0,4,31.0,E0_0,5.1,0.0,0.0,69.0,E2_0,92.8,11.93,...,314.32,0.0,0,0.0,11.45,0,tripinfo_4 fcd_4,Human,0.95,NaN
1,60,39.0,E0_0,5.1,0.0,0.0,73.0,E2_0,92.8,14.39,...,314.32,0.0,0,0.0,10.19,0,tripinfo_60 fcd_60,Human,1.07,NaN
2,52,46.0,E0_0,5.1,0.0,0.0,79.0,E2_0,92.8,15.92,...,314.32,0.0,0,0.0,11.40,0,tripinfo_52 fcd_52,Human,1.16,NaN
3,5,50.0,E0_0,5.1,0.0,0.0,90.0,E2_0,92.8,12.18,...,314.32,0.0,0,0.0,11.06,0,tripinfo_5 fcd_5,Human,0.88,NaN
4,1,58.0,E0_0,5.1,0.0,0.0,97.0,E2_0,92.8,12.89,...,314.32,0.0,0,0.0,11.36,0,tripinfo_1 fcd_1,Human,0.93,NaN

In [13]:
#join the two dataframes on the column 'id'

df = pd.merge(df1, df2, on='id')
df.head()

,travel_time,id,kind,action,origin,destination,start_time,reward,cost_table,depart,...,routeLength,waitingTime,waitingCount,stopTime,timeLoss,rerouteNo,devices,vType,speedFactor,vaporized
0,2.100000,0,Human,1,0,0,99,-2.100000,"-0.2217422606191504,-1.7280441564674827",170.0,...,314.32,0.0,0,0.0,26.20,0,tripinfo_0 fcd_0,Human,0.95,NaN
1,0.683333,1,Human,1,0,0,58,-0.683333,"-0.2217422606191504,-0.5947108231341494",58.0,...,314.32,0.0,0,0.0,11.36,0,tripinfo_1 fcd_1,Human,0.93,NaN
2,2.700000,2,Human,1,0,0,112,-2.700000,"-0.2217422606191504,-2.2080441564674826",215.0,...,314.32,0.0,0,0.0,32.96,0,tripinfo_2 fcd_2,Human,1.07,NaN
3,3.050000,3,Human,1,0,0,118,-3.050000,"-0.2217422606191504,-2.4880441564674824",243.0,...,314.32,0.0,0,0.0,33.43,0,tripinfo_3 fcd_3,Human,1.16,NaN
4,0.666667,4,Human,1,0,0,31,-0.666667,"-0.2217422606191504,-0.5813774898008159",31.0,...,314.32,0.0,0,0.0,11.45,0,tripinfo_4 fcd_4,Human,0.95,NaN

In [15]:
df["dep-delay"] = df["depart"] - df["departDelay"]

df["travelTime"] = (df["duration"] + df["departDelay"])/60

df["diff"] = df["travelTime"] - df["travel_time"]

print(df["diff"].describe())

count    7.000000e+01
mean    -3.333333e-02
std      1.415016e-16
min     -3.333333e-02
25%     -3.333333e-02
50%     -3.333333e-02
75%     -3.333333e-02
max     -3.333333e-02
Name: diff, dtype: float64